# Ignore specific folders and files
App/
Heroku Files/
Pruebas/
Query/
pcd.py
pcd.txt
.DS_Store

# ServerApp specific ignores
ServerApp/.dart_tool/
ServerApp/build/
ServerApp/*.iml
ServerApp/**/*.iml
ServerApp/.metadata
ServerApp/generated/
ServerApp/server/credentials.json
ServerApp/**/.DS_Store

# Global ignores
.idea/
.vscode/
*.pem
*.key
.env
config.json" > .gitignore